define host{

            use                     linux-server
            
            host_name               {{ hostvars[item]['ansible_fqdn'] }}
            
            alias                   {{ hostvars[item]['ansible_fqdn'] }}
            
            address                 {{ host_address }}

}

define group{

            use                     linux-server
            
            hostgroup_name           {{ node_type }}
            


define service{

            use                             local-service
            
            host_name                       {{ hostvars[item]['ansible_fqdn'] }} 
            
            service_description             SWAP Uasge
            
            check_command                   check_nrpe!check_swap

}
